body {
    background: url("../images/seamlessTexture.png");
}
* {
    box-sizing: border-box;
}

h1 {
    background: rgb(165, 104, 0);
    font: white;
    font-size: 30px;
    text-align: center;
    border: black;
    width: 400px;
    height: 50px;
    margin-top: 30px;
    padding-top: 30px;
}
.instructions p {
    background: peachpuff;
    font: green;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    border: black;
    width: 400px;
    height: 80px;
}
.randomNumber {
    background: green;
    font: black;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    float: left;
    clear: both;
    border: black;
    height: 100px;
    width: 100px;
    margin-top: 30px;
}
.wins {
    background: rgb(106, 255, 255);
    font: black;
    font-size: 14px;
    padding: 30px;
    float: left;
    border: black;
    height: 90px;
    width: 100px;
    margin-bottom: 10px;
    position: right;
}
img {
    width: 60px;
    height:60px;
    float: center;
}
h4 {
    background: rgb(0, 255, 170);
    width: 400px;
    height:20px;
}
.userScore {
    background: rgb(0, 255, 170);
    height: 80px;
    width: 250px;
    text-align: center;
    font: black;
    margin-top: 30px;
    border-bottom: 30px;
}
