body {
    background: url("../images/seamlessTexture.png");
}
* {
    box-sizing: border-box;
}
.container {
    position: absolute;
}
h1 {
    background: rgb(165, 104, 0);
    font: white;
    font-size: 30px;
    text-align: center;
    border: black;
    width: 400px;
    height: 100px;
}
.instructions p {
    background: peachpuff;
    font: green;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    border: black;
    width: 400px;
    height: 100px;
}
.randomNumber {
    background: green;
    font: black;
    font-size: 26px;
    text-align: center;
    padding: 10px;
    float: left;
    border: black;
    height: 100px;
    width: 100px;
}
.wins {
    background: rgb(106, 255, 255);
    font: black;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    float:left;
    border: black;
    height: 80px;
    width: 80px;
}
img {
    width: 60px;
    height:60px;
}
